In [1]:
# Write a program to implement AdaBoost algorithm to classify the iris data set. Print both correct and 
# wrong predictions

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
ir = pd.read_csv('iris.csv')

In [4]:
ir.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
ir.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [6]:
import category_encoders as ce
en = ce.OrdinalEncoder(cols = ['Species'])
ir = en.fit_transform(ir)

In [7]:
ir.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [8]:
ir.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split as tts
ir_train,ir_test = tts(ir,test_size = 0.2,random_state = 2)

In [12]:
ir_train.reset_index(drop = True,inplace = True)
ir_test.reset_index(drop = True,inplace = True)

In [13]:
x_train=ir_train.drop(['Species'],1)
y_train=ir_train['Species']
x_test=ir_test.drop(['Species'],1)
y_test=ir_test['Species']

In [14]:
from sklearn.ensemble import AdaBoostClassifier as ac

abc = ac(n_estimators = 50,learning_rate = 1,random_state = 0)

model1 = abc.fit(x_train,y_train)
    
y_pred = model1.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score
print("AdaBoost Accuracy:",accuracy_score(y_test,y_pred))

AdaBoost Accuracy: 1.0

In [16]:
print(" correct predicition",accuracy_score(y_test,y_pred))

print(" worng predicition",(1-accuracy_score(y_test,y_pred)))

 correct predicition 1.0
 worng predicition 0.0