In [ ]:
# Write a program to implement k-Nearest Neighbour algorithm to classify the iris data set. Print both 
# correct and wrong predictions.

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
ir = pd.read_csv('iris.csv')

In [3]:
ir.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
ir.shape

(150, 6)

In [5]:
ir.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [6]:
import category_encoders as ce
en = ce.OrdinalEncoder(cols = ['Species'])

In [7]:
ir = en.fit_transform(ir)
ir.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [8]:
ir.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species            int32
dtype: object

In [9]:
ir.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split as tts
ir_train,ir_test = tts(ir,test_size = 0.2,random_state = 2)

In [11]:
ir_train.reset_index(drop = True,inplace = True)
ir_test.reset_index(drop = True,inplace = True)

In [12]:
x_train = ir_train.drop(['Species'],1)
y_train = ir_train['Species']
x_test = ir_test.drop(['Species'],1)
y_test = ir_test['Species']

In [15]:
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.metrics import confusion_matrix,accuracy_score

In [16]:
cl = knn(n_neighbors = 3)

In [17]:
cl.fit(x_train,y_train)
y_pred = cl.predict(x_test)

In [19]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[14,  0,  0],
       [ 0,  8,  0],
       [ 0,  0,  8]], dtype=int64)

In [20]:
print("Accuracy is",round(accuracy_score(y_test,y_pred)*100,2),'%')

Accuracy is 100.0 %

In [21]:
print("Correct Prediction:",accuracy_score(y_test,y_pred))
print("Wrong Prediction:",1 - accuracy_score(y_test,y_pred))

Correct Prediction: 1.0
Wrong Prediction: 0.0