In [ ]:
''' Write a program to implement the naïve Bayesian classifier for a sample training data set stored as a 
.CSV file. Compute the accuracy of the classifier, considering few test data set'''

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
wd = pd.read_csv("weather.csv")

In [3]:
wd.head()

   s.no   Outlook Temperature Humidity  Windy Play Golf
0     0     Rainy         Hot     High  False        No
1     1     Rainy         Hot     High   True        No
2     2  Overcast         Hot     High  False       Yes
3     3     Sunny        Mild     High  False       Yes
4     4     Sunny        Cool   Normal  False       Yes

In [4]:
wd.dtypes

s.no            int64
Outlook        object
Temperature    object
Humidity       object
Windy            bool
Play Golf      object
dtype: object

In [5]:
import category_encoders as ce

In [6]:
encoders = ce.OrdinalEncoder(cols = ['Outlook','Temperature','Humidity','Windy','Play Golf'])

In [7]:
wt = encoders.fit_transform(wd)

In [8]:
wt.head()

   s.no  Outlook  Temperature  Humidity  Windy  Play Golf
0     0        1            1         1      1          1
1     1        1            1         1      2          1
2     2        2            1         1      1          2
3     3        3            2         1      1          2
4     4        3            3         2      1          2

In [9]:
wt.dtypes

s.no           int64
Outlook        int32
Temperature    int32
Humidity       int32
Windy          int32
Play Golf      int32
dtype: object

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
wt_train,wt_test = train_test_split(wt,test_size=0.4,random_state = 4)

In [12]:
wt_train

    s.no  Outlook  Temperature  Humidity  Windy  Play Golf
2      2        2            1         1      1          2
0      0        1            1         1      1          1
12    12        2            1         2      1          2
8      8        1            3         2      1          2
1      1        1            1         1      2          1
5      5        3            3         2      2          1
7      7        1            2         1      1          1
10    10        1            2         2      2          2

In [13]:
wt_train.reset_index(drop = True,inplace = True)
wt_test.reset_index(drop = True,inplace = True)

In [14]:
x_train = wt_train.drop(['Play Golf'],1)
y_train = wt_train['Play Golf']
x_test = wt_test.drop(['Play Golf'],1)
y_test = wt_test['Play Golf']

In [17]:
from sklearn.naive_bayes import GaussianNB

In [18]:
gnb = GaussianNB()

In [19]:
gnb.fit(x_train,y_train)

GaussianNB()

In [20]:
y_pred = gnb.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
print("Accuracy of model:",accuracy_score(y_test,y_pred)*100)

Accuracy of model: 50.0